apiVersion: v2
name: matrix
description: A chart for Matrix.org, includes Synapse, PostgreSQL, and Element.

type: application

version: 2.9.14

# The version of Synapse
appVersion: "1.147.1"

dependencies:
  - name: postgresql
    version: "^15.5.38"
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled
  - name: element
    version: ">=1.1.0,<1.3.0"
    repository: https://remram44.github.io/matrix-helm
    condition: element.enabled
