apiVersion: v2
name: matrix
description: A chart for Matrix.org, includes Synapse, PostgreSQL, and Element.

type: application

version: 2.6.2

# The version of Synapse
appVersion: "1.135.2"

dependencies:
  - name: postgresql
    version: "^15.5.38"
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled
  - name: element
    version: "~1.1.0"
    repository: https://remram44.github.io/matrix-helm
    condition: element.enabled
